/* Browser Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* Fonts and Stuff */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;600;800;900&display=swap");
/* font-family: "Outfit", sans-serif; */

/* Body and Main */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: hsl(217deg, 54%, 11%);
}

/* Container and Stuff */
.container {
  padding: 1.5em;
  background-color: hsl(216deg, 50%, 16%);
  border-radius: 1em;
  color: white;
  box-shadow: hsl(216deg, 82%, 9%) 0px 20px 15px 10px;
}

/* Figure */
figure {
  position: relative;
}

/* Main Image */
.main-image {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  color: none;
}

.main-image:hover {
  opacity: 0.5;
}

/* Headings and Text */
h1 {
  padding-top: 1em;
  font-family: "Outfit", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 200;
}

/* Span Tags, Icons, and Stuff */
.spans {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  margin-left: 0.3em;
}

.eth {
  display: flex;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.clock {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
}

.clock-icon {
  margin-right: 0.5em;
}

.eth-span {
  margin-right: 0.5em;
}

.eth-p {
  font-weight: 700;
  color: hsl(178deg, 100%, 50%);
}

/* Creation Div */
.creation {
  display: flex;
  align-items: center;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 0.2px solid rgba(255, 255, 255, 0.1);
}

/* Avatar */
.avatar {
  max-width: 2em;
  height: auto;
  margin-right: 1em;
  border-radius: 50%;
  border: 0.1rem solid white;
}

.name {
  font-weight: 400;
}

/* Elements Padding */
.spans,
.text,
h1 {
  padding-bottom: 1em;
}

a {
  color: white;
}

a:hover {
  color: cyan;
}

/* Media and Break Points */
@media (min-width: 1024px) {
  .container {
    width: 25vw;
  }
}
